@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font imports (optional) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "ObviouslyWide-Regular";
  src: url("./fonts/Obviously-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ObviouslyWide-Medium";
  src: url("./fonts/Obviously-Medium.otf") format("opentype");
  font-weight: 500; /* Medium weight is typically 500 */
  font-style: normal;
}

body {
  @apply font-sans;
}
/* Custom styles for the app */
@layer components {
  .word-display {
    font-size: 21px;
    margin-top: 10px;
    font-weight: 550;
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  .recording-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #dc3545;
    display: inline-block;
    margin-right: 5px;
    animation: blink 1s infinite;
  }
}
